/* styles.css */

body {
    margin: 0;
}

.content {
    margin: 0 20px;
}

.nav-bar {
    list-style: none;
    display: flex;
    padding: 5px;
    margin: 0px;
    justify-content: right;
    background: #000000;
    position: relative; /* Убедитесь, что родитель имеет относительное позиционирование */
}

    .nav-bar li {
        display: inline-block;
        margin-right: 12px;
        position: relative; /* Это нужно для правильного позиционирования выпадающего меню */
    }

li i {
    margin-top: 3px;
}

.menu-link {
    text-decoration: none;
    color: #f7e9e5;
    font-size: 32px;
    display: inline-block;
    padding: 5px 5px; /* Увеличиваем горизонтальные отступы для лучшей кликабельности */
    transition: color 0.2s ease, font-size 0.2s ease; /* Плавный переход */
}

    .menu-link:hover {
        text-decoration: underline;
        color: darkred;
        font-size: 32px; /* Оставляем размер текста неизменным */
        transform: scale(1.1); /* Легкое увеличение только текста */
    }
