/* styles.css */

.body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    list-style: none;
    display: flex;
    padding: 5px;
    margin: -8px;
    justify-content: right;
    background: #000000;
    position: relative; /* Убедитесь, что родитель имеет относительное позиционирование */
}

    .nav-bar li {
        display: inline-block;
        margin-right: 12px;
        position: relative; /* Это нужно для правильного позиционирования выпадающего меню */
    }

li i {
    margin-top: 3px;
}

.menu-link {
    text-decoration: none;
    color: #f7e9e5;
    font-size: 32px;
    display: inline-block;
    padding: 5px 12px; /* Увеличиваем горизонтальные отступы для лучшей кликабельности */
    transition: color 0.2s ease, font-size 0.2s ease; /* Плавный переход */
}

    .menu-link:hover {
        text-decoration: underline;
        color: darkred;
        font-size: 32px; /* Оставляем размер текста неизменным */
        transform: scale(1.1); /* Легкое увеличение только текста */
    }

/* Стили для выпадающего меню */
.dropdown-content {
    display: none; /* Скрыто по умолчанию */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Устанавливаем позицию под элементом */
    left: 0; /* Устанавливаем выравнивание по левому краю родительского элемента */
}

    .dropdown-content li {
        float: none;
    }

        .dropdown-content li a {
            padding: 12px 16px; /* Убедитесь, что есть достаточные отступы для клика */
            text-decoration: none;
            display: block;
            color: black;
        }

            .dropdown-content li a:hover {
                background-color: #ddd;
            }
