.user-container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    overflow-y: auto;
    max-height: 600px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

    th:hover {
        background-color: #e0e0e0;
    }

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    overflow: hidden;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

    .search-container input {
        padding: 8px;
        width: 48%;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
