@page "/my-orders"

<PageTitle>Фотоцентр | Мои заказы</PageTitle>

<head runat="server">
    <link href="Assets\Css\MyOrders.css" rel="stylesheet" type="text/css" />
</head>

<div class="container">
    <h2>Информация о заказах</h2>
    <table>
        <thead>
            <tr>
                <th>Дата создания</th>
                <th>Дата закрытия</th>
                <th>Имя фотографа</th>
                <th>Цена</th>
                <th>Статус</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01.10.2024</td>
                <td>03.10.2024</td>
                <td>Иван Петров</td>
                <td>5000 ₽</td>
                <td><span class="status completed">Завершён</span></td>
                <td><button class="view-button">Посмотреть заказ</button></td>
            </tr>
            <tr>
                <td>05.10.2024</td>
                <td>-</td>
                <td>Анна Иванова</td>
                <td>3000 ₽</td>
                <td><span class="status pending">В процессе</span></td>
                <td><button class="view-button">Посмотреть заказ</button></td>
            </tr>
            <tr>
                <td>12.09.2024</td>
                <td>14.09.2024</td>
                <td>Сергей Сидоров</td>
                <td>7000 ₽</td>
                <td><span class="status canceled">Отменён</span></td>
                <td><button class="view-button">Посмотреть заказ</button></td>
            </tr>
        </tbody>
    </table>
</div>


@code {

}