<div class="nav-menu">
	<ul class="nav-bar">
		<li><a href="/admin" class="menu-link">Главная</a></li>
		<li><a href="/logs" class="menu-link">Журнал</a></li>
		<li><a href="/users" class="menu-link">Пользователи</a></li>
		<li><a href="/profile" class="menu-link"><i class="bx bxs-usert"></i></a></li>
		<li><a href="/login" class="menu-link"><i class="bx bxs-lock-alt"></i></a></li>
	</ul>
</div>