<div class="nav-menu">
	<ul class="nav-bar">
		<li><a href="/manager" class="menu-link">Главная</a></li>
		<li><a href="/manage-orders" class="menu-link">Распределение</a></li>
		<li><a href="/employee" class="menu-link">Сотрудники</a></li>
		<li><a href="/profile" class="menu-link"><i class="bx bxs-user"></i></a></li>
		<li><a href="/login" class="menu-link"><i class="bx bxs-log-in"></i></a></li>
	</ul>
</div>