<div class="nav-menu">
	<ul class="nav-bar">
		<li><a href="" class="menu-link">Главная</a></li>
		<li><a href="/avaliable-orders" class="menu-link"></a></li>
		<li><a href="/orders-history" class="menu-link">Заказ</a></li>
		<li><a href="/profile" class="menu-link"><i class="bx bxs-usert"></i></a></li>
		<li><a href="/login" class="menu-link"><i class="bx bxs-lock-alt"></i></a></li>
	</ul>
</div>
