@page "/Login"
@using Фотоцентр.Components.Layout
@layout EmptyLayout

<PageTitle>Фотоцентр | Вход в учетную запись</PageTitle>

<head runat="server">
	<link href="Assets\Css\Login.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <form id="login_form" runat="server">
        <div class="wrapper">
            <h1>Вход</h1>
            <div class="input-box">
                <input type="text" placeholder="Имя пользователя" required="required" @bind="input_login" />
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Пароль" required="required" />
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox" />Запомнить меня</label>
                <a href="#">Забыли пароль?</a>
            </div>

            <button type="submit" class="btn" @onsubmit="TryLogin">Войти</button>
            <div class="register-link">
                <p>Нет аккаунта? <a href ="#">Регистрация</a></p> 
            </div>
        </div>
    </form>
</body>

@code {
    private string input_login = "";
    private string input_password = "";


    private void TryLogin()
    {
        if (input_login != "")
        {
            if (input_password != "")
            {
                
            }
        }

        input_login = "";
        input_password = "";
    }
}
