@page "/photographer"

<PageTitle>Фотоцентр | О нас</PageTitle>

<div class="about-page">
	<h1>О сервисе</h1>
	<p class="description">Данный сайт является частью курсового проекта по дисциплине: "Разработка приложений баз данных". С помощью сервиса вы можете создавать запросы на обработку фотографий.</p>
	<p class="info">Тема работы: "Разработка информационной системы: Фотоцентр";</p>
	<p class="info">Разработчик: Мальцев М.С;</p>
	<p class="info">Группа: 22-КБ-ПИ1.</p>
</div>

@code {

}