@page "/profile"

<PageTitle>Фотоцентр | Профиль</PageTitle>

<head runat="server">
    <link href="Assets\Css\Profile.css" rel="stylesheet" type="text/css" />
</head>

<div class="content">

    <div class="profile-container">
        <h2 class="profile-header">Профиль пользователя</h2>

        <form id="profileForm">
            <label for="clientId">Номер клиента:</label>
            <input type="text" id="clientId" class="not-editable-input" value=@clientId readonly>

            <label for="clientName">Имя:</label>
            <input type="text" id="clientName" class="editable-input" value=@clientName>
            <button type="button" class="change-button">Изменить</button>

            <label for="email">Почта:</label>
            <input type="email" id="email" class="not-editable-input" value=@email readonly>

            <label for="phone">Телефон:</label>
            <input type="tel" id="phone" class="editable-input" value=@phone>
            <button type="button" class="change-button">Изменить</button>

            <label for="address">Адрес:</label>
            <input type="text" id="address" class="editable-input" value=@address>
            <button type="button" class="change-button">Изменить</button>

            <label for="regDate">Дата регистрации:</label>
            <input type="text" id="regDate" class="not-editable-input" value=@regDate readonly>

            <div class="profile-actions">
                <button type="button" onclick="discardChanges()" class="action-button">Сбросить</button>
                <button type="button" onclick="saveChanges()" class="action-button">Сохранить изменения</button>
            </div>
        </form>
    </div>

</div>

@code {
    private string clientId = "1234";
    private string clientName = "Иван Иванов";
    private string email = "ivanov@example.com";
    private string phone = "+7 (123) 456-78-90";
    private string address = "г. Москва, ул. Пушкина, д. 10";
    private string regDate = "01.01.2020";
}