@page "/profile"

<PageTitle>Фотоцентр | Профиль</PageTitle>

<head runat="server">
    <link href="Assets\Css\MyOrdersStyleSheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <table>
        <tbody>
            <tr>
                <td>08.10.2024</td>
                <td>2500 ₽</td>
            </tr>
        </tbody>
    </table>
</body>

@code {

}