@page "/registration"
@using Фотоцентр.Components.Layout
@layout EmptyLayout

<PageTitle>Фотоцентр | Регистрация</PageTitle>

<head runat="server">
    <link href="Assets\Css\Registration.css" rel="stylesheet" type="text/css" />
</head>

<form class="registration-form" action="/submit_registration" method="post">
    <h2>Регистрация</h2>

    <label for="client-number">Номер клиента</label>
    <input type="text" id="client-number" name="client_number" placeholder="Введите номер клиента" required>

    <label for="name">Имя</label>
    <input type="text" id="name" name="name" placeholder="Введите ваше имя" required>

    <label for="email">Почта</label>
    <input type="email" id="email" name="email" placeholder="Введите вашу почту" required>

    <label for="phone">Телефон</label>
    <input type="tel" id="phone" name="phone" placeholder="Введите ваш телефон" required>

    <label for="address">Адрес</label>
    <input type="text" id="address" name="address" placeholder="Введите ваш адрес" required>

    <label for="registration-date">Дата регистрации</label>
    <input type="date" id="registration-date" name="registration_date" required>

    <button type="submit">Зарегистрироваться</button>
</form>