@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "admin, client, manager, photographer")]
@page "/"

<PageTitle>Фотоцентр | Главная</PageTitle>

<div class="content">
	<h1>Добро пожаловать!</h1>
	<AuthorizeView Roles="client">
	<p>Вы сейчас находитесь на главной странице. Сюда попадают все пользователи после входа в аккаунт</p>
	<p>Чтобы перейти в нужный вам раздел, воспользуйтесь меню вверху экрана. Более подробная информация о каждом из разделов представлена ниже: </p>
	<ul>
		<li><h2>О нас</h2>Здесь представлены основные сведения о сайте, его содержимом и причастных лицах.</li>
		<li><h2>Заказ</h2>В этом разделе вы можете оставить заявку на обработку фотографии с подробными инструкциями.</li>
		<li><h2>Мои заказы</h2>В данной вкладке вы можете просмотреть история своих заказов, а также просмотреть статус еще не выполненных заявок.</li>
		<li><h2>Профиль</h2>В этой вкладке находится личная информация о вас, которую при желании можно изменить или заполнить.</li>
		</ul>
	</AuthorizeView>
</div>

@code {

}