@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "admin, client, manager, photographer")]
@page "/"

<PageTitle>Фотоцентр | Главная</PageTitle>

<div class="content">
    <h1>Добро пожаловать!</h1>

    <!-- Контент для клиента -->
    <AuthorizeView Roles="client">
        <p>Вы сейчас находитесь на главной странице. Сюда попадают все пользователи после входа в аккаунт.</p>
        <p>Чтобы перейти в нужный вам раздел, воспользуйтесь меню вверху экрана. Более подробная информация о каждом из разделов представлена ниже:</p>
        <ul>
            <li><h2>О нас</h2>Здесь представлены основные сведения о сайте, его содержимом и причастных лицах.</li>
            <li><h2>Заказ</h2>В этом разделе вы можете оставить заявку на обработку фотографии с подробными инструкциями.</li>
            <li><h2>Мои заказы</h2>В данной вкладке вы можете просмотреть историю своих заказов, а также просмотреть статус еще не выполненных заявок.</li>
            <li><h2>Профиль</h2>В этой вкладке находится личная информация о вас, которую при желании можно изменить или заполнить.</li>
        </ul>
    </AuthorizeView>

    <!-- Контент для менеджера -->
    <AuthorizeView Roles="manager">
        <p>Добро пожаловать, менеджер! Здесь вы можете управлять заявками клиентов.</p>
        <ul>
            <li><h2>Управление заказами</h2>Здесь вы можете отслеживать и обрабатывать заявки клиентов.</li>
            <li><h2>Обратная связь</h2>Здесь вы можете отвечать на вопросы клиентов и управлять отзывами.</li>
        </ul>
    </AuthorizeView>

    <!-- Контент для фотографа -->
    <AuthorizeView Roles="photographer">
        <p>Добро пожаловать, фотограф! Здесь вы можете просматривать заказы, которые необходимо выполнить.</p>
        <ul>
            <li><h2>Предстоящие заказы</h2>Просмотр фотографий, которые нужно обработать.</li>
            <li><h2>Статус выполнения</h2>Отслеживайте состояние выполнения ваших заказов.</li>
        </ul>
    </AuthorizeView>

    <!-- Контент для администратора -->
    <AuthorizeView Roles="admin">
        <p>Добро пожаловать, администратор! Здесь вы можете управлять пользователями и настройками сайта.</p>
        <ul>
            <li><h2>Управление пользователями</h2>Добавление, удаление и редактирование пользователей.</li>
            <li><h2>Настройки</h2>Настройка системы и управление правами доступа.</li>
        </ul>
    </AuthorizeView>

</div>

@code {

}
