@page "/Login"

@layout EmptyLayout
@inject IActionLogger ActionLogger
@inject AppDbContext AppDbContext
@inject NavigationManager navigationManager

<PageTitle>Фотоцентр | Вход в учетную запись</PageTitle>

<head runat="server">
    <link href="Assets\Css\Login.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- Форма логина с привязкой к модели -->
    <EditForm Model="@Model" OnValidSubmit="Authenticate" autocomplete="off" FormName="loginForm">
        <div class="wrapper">
            <DataAnnotationsValidator />
            <h1>Вход</h1>
            <div class="input-box">
                <InputText type="text" placeholder="Логин" @bind-Value="Model.Username" required />
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <InputText type="password" placeholder="Пароль" @bind-Value="Model.Password" required />
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox" />Запомнить меня</label>
                <a href="#">Забыли пароль?</a>
            </div>

            <button type="submit" class="btn">Войти</button>
            <div class="register-link">
                <p>Нет аккаунта? <a href="/registration">Регистрация</a></p>
            </div>

           
            
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                    <div class="error-message"> @errorMessage </div>
            }
        </div>
    </EditForm>
</body>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; } = null!;

    [SupplyParameterFromForm]
    public LoginViewModel Model { get; set; } = new();

    public string? errorMessage;

    public async Task Authenticate()
    {
        var userAccount = await AppDbContext.Users.FirstOrDefaultAsync(x => x.Username == Model.Username);
        if (userAccount is null || userAccount.Password_Hash != PasswordHelper.HashPassword(Model.Password))
        {
            errorMessage = "Неверное имя пользователя или пароль";
        }
        else
        {
            errorMessage = "";
            var claims = new List<Claim>
            {
                new Claim(ClaimTypes.Name, Model.Username ),
                new Claim(ClaimTypes.Role, userAccount.Role),
                new Claim(ClaimTypes.NameIdentifier, userAccount.User_Id.ToString())
            };
            HttpContext.Session.SetString("UserId", userAccount.User_Id.ToString());

            var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
            var principal = new ClaimsPrincipal(identity);
            await HttpContext.SignInAsync(principal);
            await ActionLogger.LogActionAsync(userAccount.User_Id,
                "Вход",
                $"Имя: {userAccount.Username}",
                "Users",
                "info");

            navigationManager.NavigateTo("/");
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (HttpContext.User.Identity?.IsAuthenticated ?? false)
        {
            await HttpContext.SignOutAsync();
            navigationManager.NavigateTo("/login", true);
        }
    }
}
